/* Css */

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after{
   padding:0;
   margin:0;
   box-sizing:border-box;
}

:root{
   --mode-color:#6071bf;
   --dot-color:white;
   --txt:#fff;
   --trans:rgba(0,0,0,.1);
}

* {
    -webkit-tap-highlight-color: transparent;
}

button{
   display:block;
   background:transparent;
   border:0;
   color:var(--txt);
   cursor:pointer;
}

html{
   align-items:center;
   -webkit-box-align:center;
}

html,body{
   font-size:18px;
   height:100vh;
   overflow-x: hidden;
   overflow-y: hidden;
}

body{
   background:var(--mode-color);
   width:100%;
   position:relative;
   max-height:700px;
}

section{
   height:100%;
   width:100%;
   position:relative;
   z-index:5;
   transition:left .5s;
   -webkit-transition:left .5s;
   background-color: var(--mode-color);
   background-size: cover;
}

#main,#resultPg {
   position:absolute;
   top:0;
   left:100%;
   z-index:10;
   display:none;
}

#centr{
   width:80px;
   height:80px;
   position:absolute;
   left:50%;
   top:50%;
   margin:-40px 0 0 -40px;
   text-align:center;
   color:var(--txt);
   font-size:1.3rem;
   padding-top:.6rem;
   letter-spacing:1px;
   font-weight:bolder;
   animation:blink 1.5s infinite linear;
}

@keyframes animate
{
    0%
    {
        transform:rotate(0deg);
    }
    100%
    {
        transform:rotate(360deg);
    }
}

@keyframes ani
{
    0%
    {
      font-size:15px;
      color:#610ce8;
    }
    50%
    {
        font-size:12px;
        color:#9933cc;
    }
    100%
    {
        font-size:15px;
        color:#008074;
    }
}

@keyframes blink{
  0%,1%,5%,10%,15%,30%{
    opacity:0.4;
  }
  30%,3%,8%,13%,20%{
    opacity:6;
  }
}

.heading{
  text-align:center;
  font-size:2.5rem;
  font-weight:bolder;
  background:var(--trans);
  backdrop-filter:blur(10px);
  -webkit-backdrop-filter:blur(10px);
  padding:.4rem 0;
  color:#f8f8f8;
  margin:.6rem 1.5rem 1rem;
  border-radius:.8rem;
}

.dark-mode {
  background-color: black;
  color: white;
}

#top{
   height:1rem;
   margin:3.2rem .8rem .25rem;
   border:3px var(--txt) solid;
   border-radius:1rem;
   position:relative;
   padding:.1rem;
   font-weight:bold;
   text-align:center;
   background:var(--trans);
   backdrop-filter:blur(8px);
   -webkit-backdrop-filter:blur(8px);
}
#QNum{
   width:3rem;
   height:3rem;
   background:var(--txt);
   padding:.65rem 0;
   font-size:1.5rem;
   border-radius:50%;
   position:absolute;
   color:orange;
   box-shadow:0 1px 4px #999;
   z-index:5;
   left:50%;
   top: 0px;
   transform:translate(-50%,-92%);
   -webkit-transform:translate(-50%,-92%)
}
#prog{
   height:100%;
   position:relative;
   width:0;
   left:0;
   top:0;
   border-radius:1rem;
   background:var(--txt);
   transition:width .3s;
   -webkit-transition:width .3s;
   z-index:3;
}
#top>span{
   display:inline-block;
   position:relative;
   top:-2.8rem;
   padding:.2rem .5rem ;
   border-radius:.8rem;
   margin:0 13%;
   color:var(--txt);
   font-size:1.4rem;
   background:var(--trans);
   backdrop-filter:blur(15px);
   -webkit-backdrop-filter:blur(15px);
}
#queWrap{
   width:100%;
   position:relative;
}
#que{
   color:#444;
   min-height:3rem;
   padding:0 .8rem;
}
#queCont{
   position:relative;
   margin:1.3rem auto;
   background:var(--txt);
   padding:1.5rem 0 1rem;
   width:90%;
   box-shadow: 0 .8rem 1.8rem rgba(0, 41, 22, 0.4);
   text-align:center;
   font-family: 'Oswald', sans-serif;
   border-radius:.4rem;
   font-size:1.1rem;
   overflow:hidden;
}
.opt{
   width:85%;
   background:#232323;
   border-radius:3rem;
   height:2.5rem;
   margin:.75rem auto;
   font-size:.85rem;
   transition: 350ms ease-in;
}
.opt:hover{
    background: #008074;
 }
#chngBtn,#resultBox>p,html{
   display:flex;
   display:-webkit-box;
   justify-content:justify;
   -webkit-box-pack:justify;
}
#chngBtn{
   padding:.5rem 6%;
}
#chngBtn>button,#submit,.btn{
   background:var(--txt);
   width:4.5rem;
   height:2.3rem;
   color:black;
   font-size:.9rem;
   font-weight:bold;
   box-shadow:0 .25rem .7rem rgba(0,24,41,.35);
}
#prev{
   border-radius:2rem .3rem .3rem 2rem;
   padding-left:.5rem;
}
#nxt{
   border-radius:.3rem 2rem 2rem .3rem;
   padding-right:.5rem;
}
#submit{
   width:6rem;
   border-radius:2rem;
   margin:.2rem auto;
}
#resultBox{
   width:80%;
   background:var(--trans);
   backdrop-filter:blur(8px);
   -webkit-backdrop-filter:blur(8px);
   text-align:center;
   border-radius:.6rem;
   margin:2.5rem auto 1rem;
   word-spacing:.3rem;
   color:var(--txt);
   padding:.5rem 10% 1rem;
   box-shadow: 0 .8rem 2rem rgba(0, 41, 22, 0.4);
}
#resultBox>h2{
   padding:.6rem 0;
   color:var(--txt);
   text-decoration:underline;
   letter-spacing:1px;
}
#resultBox>p{
   margin:1rem 0;
}
#resultBox>p>span{
   display:block;
}
#resultBox>p>b{
   display:block;
   flex:1;
   -webkit-box-flex:1;
}
.btn{
   padding:.8rem 1.5rem;
   border-radius:3rem;
   width:auto;
   height:auto;
   color:orange;
   margin:2rem auto;
   text-transform:uppercase;
}
#replay{
   margin:3rem auto -1rem;
}
.btnCont{
   position:absolute;
   bottom: 300px;
   width:100%;
}
#start{
   padding:.8rem 2rem;
   font-size:1rem;
}
/* #mus{
   width:3rem;
   height:3rem;
   padding:0;
   font-size:1.2rem;
   margin:-1rem auto 1.5rem;
} */
#logo{
   position:relative;
   display:block;
   margin:1rem auto 0;
   width:95%;
   height:auto;
   box-shadow:0 .4rem .8rem rgba(0,24,41,.4);
   border-radius:3rem .5rem 3rem .5rem;
}

#mode{
   position:absolute;
   top:0;
   right: 35px;
   padding:0;
   width:2.5rem;
   height:2.5rem;
   font-size:1rem;
   margin:.7rem .7rem 0 0;
   box-shadow:0 0 .8rem #555;
}

#mode2{
    position:absolute;
    top:0;
    left: 35px;
    padding:0;
    width:2.5rem;
    height:2.5rem;
    font-size:1rem;
    margin:.7rem .7rem 0 0;
    box-shadow:0 0 .8rem #555;
 }

 #mode4{
   position:absolute;
   top:0;
   right: 35px;
   padding:0;
   width:2.5rem;
   height:2.5rem;
   font-size:1rem;
   margin:.7rem .7rem 0 0;
   box-shadow:0 0 .8rem #555;
}

#mode3{
    position:absolute;
    top:0;
    left: 35px;
    padding:0;
    width:2.5rem;
    height:2.5rem;
    font-size:1rem;
    margin:.7rem .7rem 0 0;
    box-shadow:0 0 .8rem #555;
}

.light{
   background:white;
}
.dark{
   background:#333;
}

